.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 150px);
    /* color: white;
    font-size: 2rem; */
}

/* .item {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .item1 {
    background-color:lightgreen;
}
.item2 {
    background-color:gold;
}
.item3 {
    background-color: aqua;
}
.item4 {
    background-color: plum;
}
.item5 {
    background-color: aquamarine;
}
.item6 {
    background-color:orange;
}
.item7 {
    background-color:cornflowerblue;
}
.item8 {
    background-color:hotpink;
}
.item9 {
    background-color:darksalmon;
}
.item10 {
    background-color:palegreen;
} */

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}